<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appmetr.android"
    android:versionCode="1">
    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application>
    </application>

	<service android:name="org.OpenUDID.OpenUDID_service">
		<intent-filter>
			<action android:name="org.OpenUDID.GETUDID" />
		</intent-filter>
	</service>


</manifest>