<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.appmetr.android.demo"
          android:versionCode="1"
          android:versionName="1.6">
    <uses-sdk android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application android:label="@string/app_name">
        <meta-data android:name="appmetrUrl" android:value="http://appmetr.com/api"/>
        <meta-data android:name="trackSessionByApp" android:value="true"/>
        <meta-data android:name="trackInstallByApp" android:value="true"/>

        <activity android:name=".DemoActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".tabs.EventsTabActivity">
            <intent-filter>
                <action android:name="com.appmetr.android.demo.LOG_MESSAGE" />
            </intent-filter>
        </activity>
        <activity android:name=".tabs.CasesTabActivity"/>
        <activity android:name=".tabs.CustomTabActivity"/>
        <activity android:name=".tabs.InfoTabActivity"/>
    </application>
</manifest> 
